SQL Part 4 Studio

Query ideas:

- 1-2 subqueries based on customer requests
    - Use WHERE...\[NOT\] IN...  at least 1x
    - QUESTION 1
    - QUESTION 2
- UNION, INTERSECT, EXCEPT  -- use at least one of these
    - QUESTION 3
- Correlated Subquery -- at least 1x
    - QUESTION 4
- GOAL:  posit searches to students and have them create queries using subquery materials of their choice

QUESTION 1:  Willow, a bookshop employee, wants a list of book titles that have multiple authors attributed to them.  Write a query using a subquery to return her desired results.

In [7]:
/*
-- ANS
-- Authors provided for quick visual check (optional)

SELECT TOP 2 b.authors, b.title
FROM BooksDB.dbo.books AS b
WHERE authors =
    (SELECT b.authors
    WHERE authors LIKE '%,%')

    -- returning books with multiple author attributions
    -- 2079 rows
    */

authors,title
"J.K. Rowling, Mary GrandPré","Harry Potter and the Sorcerer's Stone (Harry Potter, #1)"
"George Orwell, Erich Fromm, Celâl Üster",1984

QUESTION 2: Willow was asked by a customer for titles that have been tagged "Meditation".  Create a query for Willow using Subqueries.  Think about how the tables in BooksDB are organized as you write your query.  Diagraming the relationships between the tables can be helpful.

In [21]:
/*
-- Diagram: books (title) --> book_tags (goodreads_book_id) --> tags (tag_name) 

-- ANS:
-- 44 rows using book_id
-- 42 using best_book_id

SELECT b.title
FROM BooksDB.dbo.books AS b
WHERE b.book_id IN
    (SELECT bt.goodreads_book_id
    FROM BooksDB.dbo.book_tags as bt
    WHERE bt.tag_id IN
        (SELECT t.tag_id
        FROM BooksDB.dbo.tags AS t
        WHERE t.tag_name LIKE '%meditation%'));

*/

QUESTION 3:  Alyce, a fellow bookshop employee, wants to create a display of books that have an average rating of 4.2 or higher, but she only wants books that have the share both title and original title.  Write a query using a combining, intersecting, or excluding operator.

In [23]:
/*
-- ANS -- EXCEPT operator
-- select books that have an average of 4.2 rating except where the title is not the same as the original title.
-- titles = min table element required, Order can be either ASC or DESC

SELECT b.title, b. authors, b.average_rating, b.original_title
FROM BooksDB.dbo.books AS b
WHERE b.average_rating >= 4.2
EXCEPT
SELECT b.title, b.authors, b.average_rating, b.original_title
FROM BooksDB.dbo.books AS b
WHERE b.title NOT LIKE b.original_title
ORDER BY b.average_rating;
-- 832 rows (NOT LIKE)
*/

In [25]:
/*
SELECT TOP 5 * 
FROM BooksDB.dbo.book_tags;
-- goodreads_book_id, tag_id, count

SELECT TOP 5 *
FROM BooksDB.dbo.books;
-- id, book_id, best_book_id, work_id, books_count, isbn, isbn13, authors, original_publication_year, original_title, title, language_code, average_rating, ratings_count, work_ratings_count, work_text_reviews_count, ratings 1-5, image and small image url

SELECT TOP 5 *
FROM BooksDB.dbo.ratings; 
-- book_id, user_id, rating

SELECT TOP 5 *
FROM BooksDB.dbo.tags;
-- tag_id, tag_name

SELECT TOP 5 *
FROM BooksDB.dbo.to_read;
-- user_id, book_id
*/

SELECT TOP 5 *
FROM BooksDB.dbo.books;

id,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,title,language_code,average_rating,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
1,2767052,2767052,2792775,272,439023483,9780439023480,Suzanne Collins,2008,The Hunger Games,"The Hunger Games (The Hunger Games, #1)",eng,4.34,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m/2767052.jpg,https://images.gr-assets.com/books/1447303603s/2767052.jpg
2,3,3,4640799,491,439554934,9780439554930,"J.K. Rowling, Mary GrandPré",1997,Harry Potter and the Philosopher's Stone,"Harry Potter and the Sorcerer's Stone (Harry Potter, #1)",eng,4.44,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m/3.jpg,https://images.gr-assets.com/books/1474154022s/3.jpg
3,41865,41865,3212258,226,316015849,9780316015840,Stephenie Meyer,2005,Twilight,"Twilight (Twilight, #1)",en-US,3.57,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m/41865.jpg,https://images.gr-assets.com/books/1361039443s/41865.jpg
4,2657,2657,3275794,487,61120081,9780061120080,Harper Lee,1960,To Kill a Mockingbird,To Kill a Mockingbird,eng,4.25,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m/2657.jpg,https://images.gr-assets.com/books/1361975680s/2657.jpg
5,4671,4671,245494,1356,743273567,9780743273560,F. Scott Fitzgerald,1925,The Great Gatsby,The Great Gatsby,eng,3.89,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m/4671.jpg,https://images.gr-assets.com/books/1490528560s/4671.jpg

In [51]:
-- ANS Correlated
-- IDEAS TO TEST
-- do books with high numbers of tags have high number of ratings?? <-- 
-- does a specific tag on the to-read list correspond to high ratings overall?

-- ratings (ratings, book_id) --> books (book_id, average_rating)
-- SELECT b.title
-- FROM BooksDB.dbo.books AS b 
-- WHERE 4 < (SELECT AVG(r.rating)
--             FROM BooksDB.dbo.ratings AS r
--             WHERE r.book_id = b.book_id)

SELECT COUNT(r.book_id)
FROM BooksDB.dbo.ratings AS r 
WHERE r.rating > (SELECT b.average_rating
                    FROM BooksDB.dbo.books AS b
                    WHERE b.book_id = r.book_id);
                    -- 40960 books rated higer than average rating

SELECT COUNT(r.book_id)
FROM BooksDB.dbo.ratings AS r 
WHERE r.rating < (SELECT b.average_rating
                    FROM BooksDB.dbo.books AS b
                    WHERE b.book_id = r.book_id);
-- 38341 rated lower than their average rating

SELECT COUNT(r.book_id)
FROM BooksDB.dbo.ratings AS r;
-- 981756 ratings total

(No column name)
40960

(No column name)
38341

(No column name)
981756